server {
	listen 80;
	server_tokens off;
	
	proxy_connect_timeout       60;
	proxy_send_timeout          180;
	proxy_read_timeout          180;
	send_timeout                180;
	
	location / {
		root   /usr/share/nginx/html;
		try_files $uri $uri/ /index.html;
	}
	location /front-office {
		proxy_pass   http://${API_GATEWAY_HOST}:${API_GATEWAY_PORT};
	}
	location /identity-provider {
		proxy_pass   http://${API_GATEWAY_HOST}:${API_GATEWAY_PORT};
	}
}
