server {
	listen 80;
	server_tokens off;
	
	proxy_connect_timeout       60;
	proxy_send_timeout          180;
	proxy_read_timeout          180;
	send_timeout                180;
	
	location / {
		root   /usr/share/nginx/html;
		try_files $uri $uri/ /index.html;
	}
	location /front-office {
		proxy_pass   http://${FRONT_OFFICE_HOST}:${FRONT_OFFICE_PORT};
	}
	location /api {
		proxy_pass   http://${IDENTITY_PROVIDER_HOST}:${IDENTITY_PROVIDER_PORT};
	}
}
